<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>CYOA</title>
    </head>
    <body>
        <h1> {{ .Title }} </h1>

        {{ range .Story }}
            <p> {{ . }} </p>
        {{ end }}

        {{ range .Options }}
            <p>
                <a href="{{ .Arc }}"> {{ .Text }} </a>
            </p>
        {{ end }}

        <footer>
            <p>&copy;2025, Luka Mihailović </p>
        </footer>
    </body>
</html>